// custom css

.nav-item{
    font-family: Arial;
    font-size: .9vw;
    a{  
        font-size: .9vw;
        font-weight: 700;
        text-decoration: none;
        color: #303030 !important;
        text-transform: uppercase;
        letter-spacing: .6px;
        padding-left:35px !important;//addition for spacing

        &:hover{
            color: $text-link !important;
        }
        &:active{
            color: $text-link !important;
        }
    }
}

.nav-link{
    font-family: Arial;
    font-size: .9vw;
    font-weight: 700;
    text-decoration: none;
    color: #303030 !important;
    text-transform: uppercase;
    letter-spacing: .6px;
    padding-left:35px !important;//addition for spacing

    &:hover{
        color: $text-link !important;
    }
}
.active{
    color: $text-link !important;
}





// for xl device 
.w-34{
    width: 34%;
}

.f-xl-size{
    font-size: 13px !important;
}
.dropdownHead{
    a{
        font-size: 13px !important;
    }
}



//for md - lg device
.w-46{
    width: 46%;
}




// for small device 

.navbar-toggler{
    padding: 0;
    font-size: 1.57rem;
    border: none;
    border-radius: 0;
}

.navbar-toggler-icon{
    width: 2em;
}
.mobileDropdown{
    a{
        font-size: 8px;
    }
}