@import './custom.scss';
@import './commonVariables';
@import './navigation';
@import './footer.scss';
@import './home';
@import './styledCarousel';
@import './teamInfo';
@import './servicepack.scss';
@import './services.scss';
@import './career.scss';
@import './contact.scss';