.e-text{
    color: #F4802D;
}
.under-line{
    border-width: .2rem;
    border-color: $textOrange;
    width: 12rem;
}
.para{
    font-weight: bold;
    font-family: Arial;
    font-size: larger;
}
.position-card{
    border: 1px solid #D8D8D8;
    // width: 30%;
}
.position-card:hover{
    color: white;
    background-color: #F4802D; 
}
.detail{
    font-size: small;
}
.perk-element-box{
    // width:20%;
    height: 200px;
}
.list-req{
    color: $textOrange;
    list-style-type: square;
    margin-left:100px;
}
li span{
    font-size: large;
    font-weight: bold;
    color: #929292;
}
.pos-container:hover .position-card:not(:hover){
    filter: blur(4px);
}
.text-color{
    color:$textColor;
}
.body-color{
    background-color: $textOrange;
}