@import "~bootstrap/scss/bootstrap";
@import ".//commonVariables";

body{
    font-family: $font;
}
.font-mobile-bigger{
    font-size: 5.4vw !important;
    letter-spacing: .1rem;
}
.font-mobile-extra-bigger{
    font-size: 32px !important;
}
.font-mobile-medium{
    font-size: 3.2vw !important;
}
.font-mobile-text{
    font-size: 3.3vw !important;
}